@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root {
    font-size: 6.25%;
    --corPrimaria: #141414;
    --corSecundaria: #27C224;
    --fontePri: 'Dosis', sans-serif;
    --fonteSec:  'Poppins', sans-serif;
    --fonteTer: 'Roboto', sans-serif;
}

body {
    background-color: #c4c4c4;
}

header {
    height: 100rem;
    background: var(--corPrimaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    width: 187rem;
}

header ul:nth-of-type(1) {
    margin-right: 200rem;
}

header ul:nth-of-type(2) {
    margin-left: 200rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font: bold 20rem var(--fontePri);
    color: #FFF;
}

header figure img {
    height: 200rem;
    border-radius: 100rem;
    box-shadow: 0rem 10rem 10rem #14141499;
    margin-top: 60rem;
}

header ul li a.voltar{
    width: 185rem;
    height: 50rem;
    background-color: transparent;
    border: 1rem solid #FFF;
    border-radius: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a i {
    color: #FFF;
    font-size: 20rem;
    margin-right: 20rem;
}

/* Main */

main {
    max-width: 1200rem;
    background: #FFF url('/img/backgroundPagSec.jpg')center / cover no-repeat;
    margin: auto;
    padding-bottom: 100rem;
}

main .container {
    background: #FFFFFF80;
}

main .container h1 {
    font: bold 50rem/30rem var(--fontePri);
    letter-spacing: 2rem;
    text-align: center;
    padding: 125rem 0 25rem; 
}

main .container .barraEnfeite {
    max-width: 250rem;
    height: 5rem;
    background-color: var(--corSecundaria);
    margin: auto;
    border-radius: 10rem;
}

main .container p {
    font:400 18rem/30rem var(--fonteTer);
    text-align: center;
    max-width: 800rem;
    margin: 40rem auto 80rem;
}

/* CATEGORIA - TÍTULO */

main .container .categoria .titulo .enfeite,
main .categoria .titulo {
    display: flex;
    align-items: center;
}

main .container .categoria .titulo .enfeite div {
    background: var(--corSecundaria);
    width: 5rem;
    border-radius: 10rem;
}

main .container .categoria .titulo .enfeite div:nth-child(1) {
    height: 40rem;
    margin-left: 67rem;
}

main .container .categoria .titulo .enfeite div:nth-child(2) {
    height: 30rem;
    margin: 0 10rem;
}

main .container .categoria .titulo .enfeite div:nth-child(3) {
    height: 20rem;
    margin-right: 25rem;
}

main .container .categoria .titulo {
    margin-bottom: 70rem;
}

main .container .categoria .titulo h2 {
    font: bold 30rem/30rem var(--fontePri);
    letter-spacing: 2rem;
    width: 100rem;
}

/* CATEGORIA - SUBTÍTULO */

main .container .categoria .subtitulo h3 {
    font: bold 20rem/30rem var(--fontePri);
    letter-spacing: 2rem;
}

main .container .categoria .subtitulo .enfeite,
main .categoria .subtitulo {
    display: flex;
    align-items: center;
}

main .container .categoria .subtitulo .enfeite div {
    background: var(--corSecundaria);
    width: 2.5rem;
    border-radius: 10rem;
}

main .container .categoria .subtitulo .enfeite div:nth-child(3) {
    height: 20rem;
    margin-right: 10rem;
}

main .container .categoria .subtitulo .enfeite div:nth-child(2) {
    height: 15rem;
    margin: 0 10rem;
}

main .container .categoria .subtitulo .enfeite div:nth-child(1) {
    height: 10rem;
    margin-left: 97rem;
}



/* PRODUTOS */

main .container .categoria .rolDeProdutos {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 70rem;
}

main .container .categoria .rolDeProdutos .produto {
}

main .container .categoria .rolDeProdutos .imgProduto {
    width: 250rem;
    height: 180rem;
    outline-offset: -8rem;
    outline: 2px solid #FFFFFF80;
    background-color: var(--corPrimaria);
    border-radius: 10rem;
    box-shadow: 3px 3px 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
}

main .container .categoria .rolDeProdutos .imgProduto img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .75s;
    z-index: -1;
}

main .container .categoria .rolDeProdutos .imgProduto img:hover {
    transform: scale(1.15);
}

main .container .categoria .rolDeProdutos .produto .legProduto h4 {
    font: 400 16rem/30rem var(--fonteTer);
    text-align: center;
    margin:  12rem 0 5rem;
}

main .container .categoria .rolDeProdutos .produto .legProduto .linhaEnfeite {
    background: var(--corSecundaria);
    width: 50rem;
    height: 3rem;
    border-radius: 10rem;
    margin: auto;
}