@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    font-size: 6.25%;
    --corPrimaria: #141414;
    --corSecundaria: #27C224;
    --fontePri: 'Dosis', sans-serif;
    --fonteSec:  'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 100rem;
    background: var(--corPrimaria);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header ul {
    display: flex;
}

header ul:nth-of-type(1) {
    margin-right: 200rem;
}

header ul:nth-of-type(2) {
    margin-left: 200rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font: bold 20rem var(--fontePri);
    color: #FFF;
}

header ul li:nth-of-type(1) {
    margin-right: 60rem;
}

header figure img {
    height: 200rem;
    border-radius: 100rem;
    box-shadow: 0px 10px 10px #14141499;
    margin-top: 60rem;
}

/* MAIN  -  HOME */

main .home {
    background: var(--corPrimaria) url('/img/background-home.jpg')  center / cover no-repeat;
    width: 100%;
    height: 695rem;
    margin-bottom: 100rem;
    position: relative;
    z-index: -1;
}

main .home .container {
    background: #000000A6;
    height: 535rem;
    padding-top: 160rem;
}

main .home .container h3 {
    font: 500 30rem/62rem var(--fonteSec);
    color: #FFF;
    text-align: center;
}

main .home .container div {
    display: flex;
    justify-content: center;
}

main .home .container h1 {
    font: bold 130rem/70rem var(--fonteSec);
    color: #FFF;
    margin: 35rem 30rem 50rem;
}

main .home .container div .enfeite {
    display: flex;
    align-items: center;
}

main .home .container div .enfeite div {
    background: var(--corSecundaria);
    width: 5rem;
    border-radius: 10rem;
}

main .home .container div .enfeite div:nth-child(3) {
    height: 40rem;
}

main .home .container div .enfeite div:nth-child(2) {
    height: 30rem;
    margin: 0 10rem;
}

main .home .container div .enfeite div:nth-child(1) {
    height: 20rem;
}

main .home .container div .enfeite:nth-last-of-type(1) {
    transform: rotate(180deg);
}

main .home .container .barraEnfeite {
    width: 180rem;
    height: 5rem;
    background-color: var(--corSecundaria);
    margin: auto;
    border-radius: 10rem;
}

main .home .container p {
    width: 500rem;
    text-align: center;
    margin: 25rem auto 60rem;
    font: 400 20rem/24rem var(--fonteSec);
    color: #FFF;
}

main .home .mais {
    background: #FFF;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
}

main .home .container .redesSociais .barraVerticalHome {
    height: 300rem;
    width: 2rem;
    background: #FFFFFF80;
    position: absolute;
    right: 120rem;
    top: 50%;
    transform: translateY(calc(-50% - 40rem));
}

main .home .container .redesSociais .redes {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50rem;
    top: 50%;
    transform: translateY(calc(-50% - 40rem));
}

main .home .container .redesSociais .redes a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    color:#FFF;
    border: 1px solid #FFF;
    text-decoration: none;
}

main .home .container .redesSociais .redes a:nth-child(2) {
    margin: 20rem 0;
}

main .home .container .redesSociais .redes i {
    color: #FFF;
    font-size: 30rem;
}


/* HISTÓRIA */

main section #restaurante {
    width: 100%;
    height: 500px;
    background-color: gray;
}

/* MENU */

main #menu {
    display: grid;
    grid-template-areas: 'comidas bebidas'
                         'vinhos sobremesas'
}

#menu .categoriaMenu {
    height: 400rem;
    position: relative;
}

#menu a.categoriaMenu:first-of-type {
    background: var(--corPrimaria) url('/img/secoes/comidas.jpeg') center / cover no-repeat;
    grid-area: 'comidas';
    object-fit: fill;
}

#menu a.categoriaMenu:nth-of-type(2) {
    background: var(--corPrimaria) url('/img/secoes/bebidas.jpeg') center / cover no-repeat;
    grid-area: 'bebidas';
}

#menu a.categoriaMenu:nth-of-type(3){
    background: var(--corPrimaria) url('/img/secoes/vinhos.jpeg') center / cover no-repeat;
    grid-area: 'vinhos';
}

#menu a.categoriaMenu:last-of-type {
    background: var(--corPrimaria) url('/img/secoes/sobremesas.jpeg') center / cover no-repeat;
    grid-area: 'sobremesa';
}

main #menu .categoriaMenu .containerCategoria {
    background: #00000080;
    height: inherit;
}

main #menu .categoriaMenu .containerCategoria .titulo {
    display: flex;
    align-items: center;
}

main #menu .categoriaMenu .containerCategoria .titulo div {
    width: 5rem;
    height: 50rem;
    background-color: var(--corSecundaria);
}

main #menu .categoriaMenu .containerCategoria .titulo h3 {
    font: bold 40rem/30rem var(--fontePri);
    letter-spacing: 2.5rem;
    color: #FFF;
    margin-left: 30rem;
}

main #menu .categoriaMenu .containerCategoria p {
    font: 400 22rem/40rem var(--fontePri);
    color: #FFF;
    width: 540rem;
    margin-top: 25rem;
}

main #menu .categoriaMenu .categoria {
    position: absolute;
    bottom: 32rem;
    left: 70rem;
}






footer {
    height: 500rem;
    position: relative;
    padding-bottom: 65rem;
    background: url('/img/backgroundFooter.png') center / cover no-repeat;
}

footer .rodape {
    background: rgba(20, 20, 20, 0.75);
    padding-bottom: 65rem;
}

footer .titulo {
    display: flex;
    align-items: center;
}

footer .titulo .barraTitulo {
    width: 5rem;
    height: 41rem;
    background: var(--corSecundaria);
    margin: 65rem 15rem 0 70rem;
}

footer .titulo h1 {
    font: 700 30rem/30rem var(--fontePri);
    color: #FFF;
    margin: 70rem 0 24rem;
}

footer .conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .endereco {
    margin-left: 70rem;
}

footer .endereco .filial {
    display: flex;
    align-items: center;
}

footer .endereco .filial:nth-child(1) {
    margin-bottom: 60rem;
}

footer .endereco .filial i {
    color: #FFF;
    font-size: 36rem;
    margin-right: 25rem;
}

footer .endereco .filial h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF
}

footer .endereco .filial p {
    font: 400 20rem/30rem var(--fontePri);
    color: #FFF;
    width: 215rem;
}

footer .horario {
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-between;
}

footer .horario .barraVertical {
    width: 5rem;
    height: 300rem;
    background: #FFFFFF40;
}

footer .horario i {
    color: #FFF;
    font-size: 36rem;
    margin-right: 25rem;
}

footer .horario h2, footer .horario p {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
}

footer .horario span {
    font-weight: 400;
}

footer .blocoContatos {
    display: grid;
    place-content: center;
}

footer .blocoContatos .contatos .telefones {
    display: flex;
    align-items: center;
}

footer .blocoContatos .contatos .telefones i {
    color: #FFF;
    font-size: 30rem;
    margin-right: 25rem;
}

footer .blocoContatos .contatos .telefones h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
}

footer .blocoContatos .contatos button {
    font: 500 20rem/30rem var(--fontePri);
    color: #FFF;
    width: 320rem;
    height: 60rem;
    border: 2rem solid #FFF;
    border-radius: 40rem;
    background: transparent;
    margin-top: 15rem;
    cursor: pointer;
}

footer .blocoContatos .contatos button:hover {
    background: #FFF;
    color: #000;
    transform: scale(1.05);
    transition: all 0.2s;
}

footer .midia div {
    display: flex;
    justify-content: space-between;
}

footer .midia div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    color:#FFF;
    border: 1px solid #FFF;
    text-decoration: none;
}

footer .midia div a:hover {
    background: #FFF;
    color: #000;
    transition: all .3s;
}

footer .midia div a i {
    font-size: 30rem;
}

footer .midia h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
    margin: 30rem 0;
}

footer .copyright {
    height: 60rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 25rem/30rem var(--fontePri);
    background-color: #FFF;
    color: #000;
    position: absolute;
    bottom: 0
}

footer .copyright i {
    margin-right: 15rem;
}