@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    font-size: 6.25%;
    --corPrimaria: #141414;
    --corSecundaria: #FFAA3A;
    --fontePri: 'Dosis', sans-serif;
    --fonteSec:  'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


header {
    height: 100rem;
    background: var(--corPrimaria);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    position: relative;
}

header ul {
    display: flex;
}

header ul:nth-of-type(1) {
    margin-right: 200rem;
}

header ul:nth-of-type(2) {
    margin-left: 200rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font: bold 20rem var(--fontePri);
    color: #FFF;
}

header ul li:nth-of-type(1) {
    margin-right: 60rem;
}

header figure img {
    height: 200rem;
    border-radius: 100rem;
    box-shadow: 0px 10px 10px #14141499;
    margin-top: 60rem;
}

/* BARRA DE MENU */

.barraMenu {
    transform: rotateY(180deg);
    position: absolute;
    right: 50rem;
    display: none;
}

.barraMenu span {
    display: block;
    height: 2rem;
    background-color: #FFF;
    border-radius: 4px;
}

.barraMenu span:nth-child(1){
    width: 24rem;
}

.barraMenu span:nth-child(2){
    width: 18rem;
    margin: 5rem 0;
}

.barraMenu span:nth-child(3){
    width: 12rem;
}

.barraMenu, .barraMenu span{
    transition: all 0.3s ease-in-out;
}

.barraMenu.ativada {
    transition-delay: 0.6s;
    transform: rotate(45deg);
}

.barraMenu.ativada span:nth-child(2) {
    width: 0;
}

.barraMenu.ativada span:nth-child(1),
.barraMenu.ativada span:nth-child(3) {
    transition-delay: 0.3s;
}

.barraMenu.ativada span:nth-child(1) {
    transform: translateY(7rem);
}

.barraMenu.ativada span:nth-child(3) {
    transform: translateY(-7rem) rotate(90deg);
    width: 24rem;
}

/* MAIN  -  HOME */

main .home {
    background: var(--corPrimaria) url('../img/backgroundHome.jpg')  center / cover no-repeat;
    width: 100%;
    height: 695rem;
    width: 100%;
    position: relative;
}

main .home .container {
    background: #000000A6;
    padding-top: 200rem;
    height: 495rem;
}

main .home .container h3 {
    font: 500 30rem/62rem var(--fonteSec);
    color: #FFF;
    text-align: center;
}

main .home .container .nomePrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155em;
}

main .home .container .nomePrincipal .tituloPrincipal {
    display: flex;
}

main .home .container h1 {
    font: bold 130rem/70rem var(--fonteSec);
    color: #FFF;
    margin: 35rem 30rem 50rem;
}

main .home .container div .enfeite {
    display: flex;
    align-items: center;
}

main .home .container div .enfeite div {
    background: var(--corSecundaria);
    width: 5rem;
    border-radius: 10rem;
}

main .home .container div .enfeite div:nth-child(3) {
    height: 40rem;
}

main .home .container div .enfeite div:nth-child(2) {
    height: 30rem;
    margin: 0 10rem;
}

main .home .container div .enfeite div:nth-child(1) {
    height: 20rem;
}

main .home .container div .enfeite:nth-last-of-type(1) {
    transform: rotate(180deg);
}

main .home .container .barraEnfeite {
    width: 180rem;
    height: 5rem;
    background-color: var(--corSecundaria);
    margin: auto;
    border-radius: 10rem;
}

main .home .container p {
    max-width: 500rem;
    text-align: center;
    margin: 25rem auto 60rem;
    font: 400 18rem/24rem var(--fonteSec);
    color: #FFF;
}

main .home .setaParaMaisConteudo {
    background: #FFF;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .home .container .redesSociais .barraVerticalHome {
    height: 300rem;
    width: 2rem;
    background: #FFFFFF80;
}

main .home .container .redesSociais {
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10rem;
}

main .home .container .redesSociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    z-index: 9995;
    border: 1px solid #FFF;
    text-decoration: none;
    font-size: 30rem;
    color: #FFF;
    margin: 0 50rem;
} 

main .home .container .redesSociais a:hover {
    background: #FFF;
    color: #000;
    transition: all .3s;
}

main .home .container .redesSociais a:nth-child(2) {
    margin: 20rem 50rem;
}

/* HISTÓRIA */

main #restaurante {
    width: 100%;
    background-color: #FFF;
    background-image: url('../img/backgroundPagSec.jpg');
    background-size: cover;
    background-position: center;
}

main #restaurante  h1 {
    font-family: var(--fontePri);
    font-size: 30rem;
    font-weight: 700;
    margin-left: 15rem;
    margin-bottom: 20.90rem;
}

main #restaurante p {
    font-family: var(--fonteSec);
    text-align: justify;
    font-size: 18rem;
    font-weight: 400;
    margin-left: 70rem;
    padding-bottom: 87rem;
}

main #restaurante .barra-hist {
    width: 5rem;
    height: 41rem;
    background-color: var(--corSecundaria);
}

main #restaurante .flex {
    display: flex;
    justify-content: flex-start;
    margin-left: 70rem;
}

 main #restaurante .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40rem;
    background: #FFFFFF80;
 }

 main #restaurante .grid .nossaHistoria {
    margin-top: 92rem;
 }

 main #restaurante .grid .videoHist {
    margin: auto 40rem;
 }

main #restaurante .grid .containerVideo {
    display: flex;
    justify-content: center;
}

main #restaurante .grid .containerVideo .barraVideo {
    display: flex;
    align-items: center;
}

main #restaurante .grid .containerVideo .barraVideo div {
    background: var(--corSecundaria);
    width: 5rem;
    border-radius: 10rem;
}

main #restaurante .grid .containerVideo .barraVideo div:nth-child(3) {
    height: 40rem;
}

main #restaurante .grid .containerVideo .barraVideo div:nth-child(2) {
    height: 30rem;
    margin: 0 10rem;
}

main #restaurante .grid .containerVideo .barraVideo div:nth-child(1) {
    height: 20rem;
}

main #restaurante .grid .containerVideo .barraVideo:nth-last-of-type(1) {
    transform: rotate(180deg);
}

/* MENU */

main #menu {
    display: grid;
    grid-template-areas: 'comidas bebidas'
                         'vinhos sobremesas'
}

#menu .categoriaMenu {
    height: 400rem;
    position: relative;
}

#menu a.categoriaMenu:first-of-type {
    background: var(--corPrimaria) url('../img/secoes/comidas.jpeg') center / cover no-repeat;
    grid-area: 'comidas';
    object-fit: fill;
}

#menu a.categoriaMenu:nth-of-type(2) {
    background: var(--corPrimaria) url('../img/secoes/bebidas.jpeg') center / cover no-repeat;
    grid-area: 'bebidas';
}

#menu a.categoriaMenu:nth-of-type(3){
    background: var(--corPrimaria) url('../img/secoes/vinhos.jpeg') center / cover no-repeat;
    grid-area: 'vinhos';
}

#menu a.categoriaMenu:last-of-type {
    background: var(--corPrimaria) url('../img/secoes/sobremesas.jpeg') center / cover no-repeat;
    grid-area: 'sobremesa';
}

main #menu .categoriaMenu .containerCategoria {
    background: #00000080;
    height: inherit;
}

main #menu .categoriaMenu .containerCategoria .titulo {
    display: flex;
    align-items: center;
}

main #menu .categoriaMenu .containerCategoria .titulo div {
    width: 5rem;
    height: 50rem;
    background-color: var(--corSecundaria);
}

main #menu .categoriaMenu .containerCategoria .titulo h3 {
    font: bold 40rem/30rem var(--fontePri);
    letter-spacing: 2.5rem;
    color: #FFF;
    margin-left: 30rem;
}

main #menu .categoriaMenu .containerCategoria p {
    font: 400 22rem/40rem var(--fontePri);
    color: #FFF;
    width: 500rem;
    margin-top: 25rem;
}

main #menu .categoriaMenu .categoria {
    position: absolute;
    bottom: 32rem;
    left: 70rem;
}

/* RESERVAS */

main #reservas {
    width: 100%;
    height: 500rem;
    background-color: var(--corPrimaria);
    background-image: url('../img/secoes/Rectangle\ 44.png');
    background-repeat: no-repeat;
    background-size: cover;
}

main #reservas #background {
    background-color: rgba(0, 0, 0, 0.4);
    height: inherit;
}

main #reservas h1 {
    margin-left: 15rem;
    font-family: var(--fontePri);
    font-size: 30rem;
    font-weight: 700;
}

main #reservas .barra-reserva {
    width: 5rem;
    height: 41rem;
    background-color: var(--corSecundaria);
}

main #reservas .flexRes {
    display: flex;
    justify-content: flex-start;
    margin-left: 78rem;
    padding-top: 72rem;
    padding-bottom: 29rem;
}

main #reservas .flex1 {
    display: flex;
    justify-content: center;
}

main #reservas button {
    margin: auto;
    display: block;
    width: 330rem;
    height: 70rem;
    border-radius: 30rem;
    color: var(--corPrimaria);
    border: none;
    letter-spacing: 0.2em;
    font-family: var(--fontePri);
    font-size: 20rem;
    font-weight: 700;
    background-color: var(--corSecundaria);
    cursor: pointer;
}

main #reservas button:hover {
    background: #FFFFFF;
    color: var(--corTerciaria);
    transform: scale(1.05);
    transition: all 0.2s;
}

main #reservas .flexivel .input {
    width: 330rem;
    height: 70rem;
    outline: none;
    border-radius: 10rem;
    padding-left: 56rem;
    box-sizing: border-box;
    border: none;
    margin-bottom: 50rem;
    font-family: var(--fontePri);
    font-size: 20rem;
    font-style: normal;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: #C4C4C4;
}

main #reservas .flexivel .inputRoxo {
    width: 330rem;
    height: 70rem;
    background-color: var(--corPrimaria);
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0 50rem;
    margin-bottom: 50rem;
    font-family: var(--fontePri);
    font-size: 20rem;
    font-style: normal;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: var(--corSecundaria);
    border-radius: 5rem;
}

main #reservas .flexivel .input:nth-child(2) {
    margin: 0 45rem;
}

main #reservas .flexivel .inputRoxo:nth-child(2) {
    margin: 0 45rem;
}

main #reservas .flexivel .input:nth-child(3) {
    width: 370rem;
}

main #reservas .flexivel .inputRoxo:nth-child(3) {
    width: 370rem;
}

/* FOOTER */

footer {
    position: relative;
    padding-bottom: 60rem;
    background: url('../img/backgroundFooter.png') center / cover no-repeat;
}

footer .rodape {
    background: rgba(20, 20, 20, 0.75);
    padding-bottom: 65rem;
}

footer .titulo {
    display: flex;
    align-items: center;
}

footer .titulo .barraTitulo {
    width: 5rem;
    height: 41rem;
    background: var(--corSecundaria);
    margin: 65rem 15rem 0 70rem;
}

footer .titulo h1 {
    font: 700 30rem/30rem var(--fontePri);
    color: #FFF;
    margin: 70rem 0 24rem;
}

footer .conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .endereco {
    margin-left: 70rem;
}

footer .endereco .filial {
    display: flex;
    align-items: center;
}

footer .endereco .filial:nth-child(1) {
    margin-bottom: 60rem;
}

footer .endereco .filial i {
    color: #FFF;
    font-size: 36rem;
    margin-right: 25rem;
}

footer .endereco .filial h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF
}

footer .endereco .filial p {
    font: 400 20rem/30rem var(--fontePri);
    color: #FFF;
    width: 215rem;
}

footer .horario {
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-between;
}

footer .horario .barraVertical {
    width: 5rem;
    height: 300rem;
    background: #FFFFFF40;
}

footer .horario i {
    color: #FFF;
    font-size: 36rem;
    margin-right: 25rem;
}

footer .horario h2, footer .horario p {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
}

footer .horario span {
    font-weight: 400;
}

footer .blocoContatos {
    display: grid;
    place-content: center;
}

footer .blocoContatos .contatos .telefones {
    display: flex;
    align-items: center;
}

footer .blocoContatos .contatos .telefones i {
    color: #FFF;
    font-size: 30rem;
    margin-right: 25rem;
}

footer .blocoContatos .contatos .telefones h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
}

footer .blocoContatos .contatos a {
    font: 500 20rem/30rem var(--fontePri);
    color: #FFF;
    border: 2rem solid #FFF;
    border-radius: 40rem;
    margin-top: 15rem;
    cursor: pointer;
    padding: 10rem 60rem;
    display: block;
    text-decoration: none;
}

footer .blocoContatos .contatos a:hover {
    background: #FFF;
    color: #000;
    transform: scale(1.05);
    transition: all 0.2s;
}

footer .midia div {
    display: flex;
    justify-content: space-between;
}

footer .midia div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    color:#FFF;
    border: 1px solid #FFF;
    text-decoration: none;
}

footer .midia div a:hover {
    background: #FFF;
    color: #000;
    transition: all .3s;
}

footer .midia div a i {
    font-size: 30rem;
}

footer .midia h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
    margin: 30rem 0;
}

footer .copyright {
    height: 60rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 25rem/30rem var(--fontePri);
    background-color: #FFF;
    color: #000;
    position: absolute;
    bottom: 0
}

footer .copyright i {
    margin-right: 15rem;
}

@media all and (max-width: 1200px) {
    header {
        position: relative;
    }

    header figure img {
        height: 150rem;
    } 

    header ul:nth-of-type(1) {
        margin-right: 5vw;
    }

    header ul:nth-of-type(2) {
        margin-left: 5vw;
    }
    
    main .home .container h1 {
        font-size: 90rem;
    }
    
    main .home .container {
        background: #000000A6;
        height: 515rem;
        padding-top: 180rem;
    }
        
    main .home .container div .enfeite, main .home .container .barraEnfeite  {
        display: none;
    }

    main #menu {
        display: grid;
        grid-template-areas: 'comidas'
                             'bebidas'
                             'vinhos'
                             'sobremesas';
        grid-gap: 10rem;
        background: var(--corPrimaria);
    }

    main .home .container .redesSociais  {
        display: none;
    }
}

@media all and (max-width: 1100px){
    main #restaurante .grid {
        grid-template-columns: 1fr;
        place-items: center;
        padding-bottom: 40rem;
    }

    main #restaurante p {
        padding-bottom: 0rem;
    }

    main #restaurante .grid .nossaHistoria p {
        margin-right: 70rem;
    }

    main #reservas {
        height: 950rem;
    }

    main #reservas .flexivel .flex1 {
        flex-direction: column;
        align-items: center;
        margin-bottom: 45rem;
    }

    main #reservas .flexivel .flex1 input{
        display: block;
        margin: auto;
    } 
    
    main #reservas .flexivel .flex1 input:nth-child(2) {
        margin: 45rem 0;
    }
    
    footer .endereco {
        margin: 0;
    }

    footer .endereco .filial:nth-child(1){
        margin-bottom: 30rem;
    }
    
    footer .horario .barraVertical {
        display: none;
    }

    footer .horario {
        margin: 30rem 0;
    }

    footer .conteiner {
        grid-template-columns: 1fr;
        place-items: center;
    }

    footer .midia h2 {
        text-align: center;
    }

}

@media all and (max-width: 620px){
    main #menu .categoriaMenu .containerCategoria p {
        display: none;
    }
}

@media all and (max-width: 680px) {
    header ul {
        display: none;
    }

    main #restaurante .grid .containerVideo .barraVideo {
        display: none;
    }

    main #restaurante .grid .containerVideo iframe {
        width: 350px;
        height: 200px;
    }

    .barraMenu {
        display: block;
    }
}