@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root {
    /* font-size: 6.25%; */
    --corPrimaria: #141414;
    --corSecundaria: #27C224;
    --fontePri: 'Dosis', sans-serif;
    --fonteSec:  'Poppins', sans-serif;
    --fonteTer: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #c4c4c4;
}

header {
    height: 100px;
    background: var(--corPrimaria);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

header ul {
    display: flex;
    width: 187px;
}

header ul:nth-of-type(1) {
    margin-right: 200px;
}

header ul:nth-of-type(2) {
    margin-left: 200px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font: bold 20px var(--fontePri);
    color: #FFF;
}

header figure img {
    height: 200px;
    border-radius: 100px;
    box-shadow: 0px 10px 10px #14141499;
    margin-top: 60px;
}

header ul li a.voltar{
    width: 185px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a i {
    color: #FFF;
    font-size: 20px;
    margin-right: 20px;
}

/* Main */

main {
    max-width: 1200px;
    background: #FFF url('../img/backgroundPagSec.jpg')center / cover no-repeat;
    margin: auto;
    
}

main .container {
    background: #FFFFFFAE;
    padding-top: 100px;
}

main .container h1 {
    font: bold 50px/50px var(--fontePri);
    letter-spacing: 2px;
    text-align: center;
    padding: 125px 0 25px; 
}

main .container .barraEnfeite {
    max-width: 250px;
    height: 5px;
    background-color: var(--corSecundaria);
    margin: auto;
    border-radius: 10px;
}

main .container p {
    font: 400 18px/30px var(--fonteTer);
    text-align: center;
    max-width: 700px;
    margin: 40px auto 80px;
}

/* CATEGORIA - TÍTULO */

main .container .categoria .titulo .enfeite,
main .categoria .titulo {
    display: flex;
    align-items: center;
}

main .container .categoria .titulo .enfeite div {
    background: var(--corSecundaria);
    width: 5px;
    border-radius: 10px;
}

main .container .categoria .titulo .enfeite div:nth-child(1) {
    height: 40px;
    margin-left: 67px;
}

main .container .categoria .titulo .enfeite div:nth-child(2) {
    height: 30px;
    margin: 0 10px;
}

main .container .categoria .titulo .enfeite div:nth-child(3) {
    height: 20px;
    margin-right: 25px;
}

main .container .categoria .titulo {
    margin-bottom: 50px;
}

main .container .categoria .titulo h2 {
    font: bold 30px/30px var(--fontePri);
    letter-spacing: 2px;
    width: 100px;
}

/* CATEGORIA - SUBTÍTULO */

main .container .categoria .subtitulo h3 {
    font: bold 25px/30px var(--fontePri);
    letter-spacing: 2px;
}

main .container .categoria .subtitulo .enfeite,
main .categoria .subtitulo {
    display: flex;
    align-items: center;
}

main .container .categoria .subtitulo .enfeite div {
    background: var(--corSecundaria);
    width: 2.5px;
    border-radius: 10px;
}

main .container .categoria .subtitulo .enfeite div:nth-child(3) {
    height: 20px;
    margin-right: 10px;
}

main .container .categoria .subtitulo .enfeite div:nth-child(2) {
    height: 15px;
    margin: 0 10px;
}

main .container .categoria .subtitulo .enfeite div:nth-child(1) {
    height: 10px;
    margin-left: 97px;
}


/* PRODUTOS */

main .container .categoria .rolDeProdutos {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 30px 70px 0;
    place-items: center;

}

main .container .categoria .rolDeProdutos .produto .imgProduto {
    width: 250px;
    height: 180px;
    outline-offset: -8px;
    outline: 2px solid #FFFFFF80;
    background-color: var(--corPrimaria);
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
}

main .container .categoria .rolDeProdutos .produto .imgProduto img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .75s;
    z-index: -1;
}

main .container .categoria .rolDeProdutos .produto .imgProduto img:hover {
    transform: scale(1.15);
}

main .container .categoria .rolDeProdutos .produtoMaisHeight .imgProduto{
    width: 250px;
    height: 250px;
}

main .container .categoria .rolDeProdutos .produto .legProduto h4 {
    font: 400 16px/30px var(--fonteTer);
    text-align: center;
    margin:  12px 0 5px;
}

main .container .categoria .rolDeProdutos .produto .legProduto .linhaEnfeite {
    background: var(--corSecundaria);
    width: 50px;
    height: 3px;
    border-radius: 10px;
    margin: 0 auto 70px;
}

/* FOOTER */

footer {
    position: relative;
    padding-bottom: 60px;
    background: url('../img/backgroundFooter.png') center / cover no-repeat;
}

footer .rodape {
    background: rgba(20, 20, 20, 0.75);
    padding-bottom: 65px;
}

footer .titulo {
    display: flex;
    align-items: center;
}

footer .titulo .barraTitulo {
    width: 5px;
    height: 41px;
    background: var(--corSecundaria);
    margin: 65px 15px 0 70px;
}

footer .titulo h1 {
    font: 700 30px/30px var(--fontePri);
    color: #FFF;
    margin: 70px 0 24px;
}

footer .conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .endereco {
    margin-left: 70px;
}

footer .endereco .filial {
    display: flex;
    align-items: center;
}

footer .endereco .filial:nth-child(1) {
    margin-bottom: 60px;
}

footer .endereco .filial svg {
    margin-right: 25px;
}

footer .endereco .filial h2 {
    font: 700 20px/30px var(--fontePri);
    color: #FFF
}

footer .endereco .filial p {
    font: 400 20px/30px var(--fontePri);
    color: #FFF;
    width: 215px;
}

footer .horario {
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-between;
}

footer .horario .barraVertical {
    width: 5px;
    height: 300px;
    background: #FFFFFF40;
}

footer .horario svg {
    margin-right: 25px;
}

footer .horario h2, footer .horario p {
    font: 700 20px/30px var(--fontePri);
    color: #FFF;
}

footer .horario span {
    font-weight: 400;
}

footer .blocoContatos {
    display: grid;
    place-content: center;
}

footer .blocoContatos .contatos .telefones {
    display: flex;
    align-items: center;
}

footer .blocoContatos .contatos .telefones svg {
    margin-right: 25px;
}

footer .blocoContatos .contatos .telefones h2 {
    font: 700 20px/30px var(--fontePri);
    color: #FFF;
}

footer .blocoContatos .contatos button {
    font: 500 20px/30px var(--fontePri);
    color: #FFF;
    width: 320px;
    height: 60px;
    border: 2px solid #FFF;
    border-radius: 40px;
    background: transparent;
    margin-top: 15px;
    cursor: pointer;
}

footer .blocoContatos .contatos button:hover {
    background: #FFF;
    color: #000;
    transform: scale(1.05);
    transition: all 0.2s;
}

footer .blocoContatos .contatos a {
    font: 500 20px/30px var(--fontePri);
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 40px;
    margin-top: 15px;
    cursor: pointer;
    padding: 10px 60px;
    display: block;
    text-decoration: none;
}

footer .blocoContatos .contatos a:hover {
    background: #FFF;
    color: #000;
    transform: scale(1.05);
    transition: all 0.2s;
}

footer .midia div {
    display: flex;
    justify-content: space-between;
}

footer .midia div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color:#FFF;
    border: 1px solid #FFF;
    text-decoration: none;
}

footer .midia div a:hover {
    background: #FFF;
    color: #000;
    transition: all .3s;
}

footer .midia div a i {
    font-size: 30px;
}

footer .midia h2 {
    font: 700 20px/30px var(--fontePri);
    color: #FFF;
    margin: 30px 0;
}

footer .copyright {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 25px/30px var(--fontePri);
    background-color: #FFF;
    color: #000;
    position: absolute;
    bottom: 0;
}

footer .copyright i {
    margin-right: 15px;
}

@media all and (max-width: 1200px) {
    main .container {
        padding-top: 100px;
    }

    main .container .categoria .rolDeProdutos {
        grid-template-columns: repeat(2, 1fr);
    }

    header figure img {
        height: 150px;
    }

    header ul li a.voltar {
        width: 60px;
        position: absolute;
        bottom: 50%;
        transform: translate(100px, 50%);
    }

    header ul li a span {
        display: none;
    }

    header .ulContato li {
        display: none;
    }

    footer .endereco {
        margin: 0;
    }

    footer .endereco .filial:nth-child(1){
        margin-bottom: 30px;
    }
    
    footer .horario .barraVertical {
        display: none;
    }

    footer .horario {
        margin: 30px 0;
    }

    footer .conteiner {
        grid-template-columns: 1fr;
        place-items: center;
    }

    footer .midia h2 {
        text-align: center;
    }
}

@media all and (max-width: 750px) {
    main .container .categoria .rolDeProdutos {
        grid-template-columns: 1fr;
    }
}


