@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root {
    font-size: 6.25%;
    --corPrimaria: #141414;
    --corSecundaria: #27C224;
    --fontePri: 'Dosis', sans-serif;
    --fonteSec:  'Poppins', sans-serif;
    --fonteTer: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #c4c4c4;
}

header {
    height: 100rem;
    background: var(--corPrimaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    width: 187rem;
}

header ul:nth-of-type(1) {
    margin-right: 200rem;
}

header ul:nth-of-type(2) {
    margin-left: 200rem;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font: bold 20rem var(--fontePri);
    color: #FFF;
}

header figure img {
    height: 200rem;
    border-radius: 100rem;
    box-shadow: 0rem 10rem 10rem #14141499;
    margin-top: 60rem;
}

header ul li a.voltar{
    width: 185rem;
    height: 50rem;
    background-color: transparent;
    border: 1rem solid #FFF;
    border-radius: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li a i {
    color: #FFF;
    font-size: 20rem;
    margin-right: 20rem;
}

/* Main */

main {
    max-width: 1200rem;
    background: #FFF url('../img/backgroundPagSec.jpg')center / cover no-repeat;
    margin: auto;
}

main .container {
    background: #FFFFFFAE;
}

main .container h1 {
    font: bold 50rem/50rem var(--fontePri);
    letter-spacing: 2rem;
    text-align: center;
    padding: 125rem 0 25rem; 
}

main .container .barraEnfeite {
    max-width: 250rem;
    height: 5rem;
    background-color: var(--corSecundaria);
    margin: auto;
    border-radius: 10rem;
}

main .container p {
    font: 400 18rem/30rem var(--fonteTer);
    text-align: center;
    max-width: 700rem;
    margin: 40rem auto 80rem;
}

/* CATEGORIA - TÍTULO */

main .container .categoria .titulo .enfeite,
main .categoria .titulo {
    display: flex;
    align-items: center;
}

main .container .categoria .titulo .enfeite div {
    background: var(--corSecundaria);
    width: 5rem;
    border-radius: 10rem;
}

main .container .categoria .titulo .enfeite div:nth-child(1) {
    height: 40rem;
    margin-left: 67rem;
}

main .container .categoria .titulo .enfeite div:nth-child(2) {
    height: 30rem;
    margin: 0 10rem;
}

main .container .categoria .titulo .enfeite div:nth-child(3) {
    height: 20rem;
    margin-right: 25rem;
}

main .container .categoria .titulo {
    margin-bottom: 50rem;
}

main .container .categoria .titulo h2 {
    font: bold 30rem/30rem var(--fontePri);
    letter-spacing: 2rem;
    width: 100rem;
}

/* CATEGORIA - SUBTÍTULO */

main .container .categoria .subtitulo h3 {
    font: bold 25rem/30rem var(--fontePri);
    letter-spacing: 2rem;
}

main .container .categoria .subtitulo .enfeite,
main .categoria .subtitulo {
    display: flex;
    align-items: center;
}

main .container .categoria .subtitulo .enfeite div {
    background: var(--corSecundaria);
    width: 2.5rem;
    border-radius: 10rem;
}

main .container .categoria .subtitulo .enfeite div:nth-child(3) {
    height: 20rem;
    margin-right: 10rem;
}

main .container .categoria .subtitulo .enfeite div:nth-child(2) {
    height: 15rem;
    margin: 0 10rem;
}

main .container .categoria .subtitulo .enfeite div:nth-child(1) {
    height: 10rem;
    margin-left: 97rem;
}


/* PRODUTOS */

main .container .categoria .rolDeProdutos {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 30rem 70rem 0;
    place-items: center;

}

main .container .categoria .rolDeProdutos .produto .imgProduto {
    width: 250rem;
    height: 180rem;
    outline-offset: -8rem;
    outline: 2px solid #FFFFFF80;
    background-color: var(--corPrimaria);
    border-radius: 10rem;
    box-shadow: 3px 3px 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
}

main .container .categoria .rolDeProdutos .produto .imgProduto img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .75s;
    z-index: -1;
}

main .container .categoria .rolDeProdutos .produto .imgProduto img:hover {
    transform: scale(1.15);
}

main .container .categoria .rolDeProdutos .produtoMaisHeight .imgProduto{
    width: 250rem;
    height: 250rem;
}

main .container .categoria .rolDeProdutos .produto .legProduto h4 {
    font: 400 16rem/30rem var(--fonteTer);
    text-align: center;
    margin:  12rem 0 5rem;
}

main .container .categoria .rolDeProdutos .produto .legProduto .linhaEnfeite {
    background: var(--corSecundaria);
    width: 50rem;
    height: 3rem;
    border-radius: 10rem;
    margin: 0 auto 70rem;
}

/* FOOTER */

footer {
    position: relative;
    padding-bottom: 60rem;
    background: url('../img/backgroundFooter.png') center / cover no-repeat;
}

footer .rodape {
    background: rgba(20, 20, 20, 0.75);
    padding-bottom: 65rem;
}

footer .titulo {
    display: flex;
    align-items: center;
}

footer .titulo .barraTitulo {
    width: 5rem;
    height: 41rem;
    background: var(--corSecundaria);
    margin: 65rem 15rem 0 70rem;
}

footer .titulo h1 {
    font: 700 30rem/30rem var(--fontePri);
    color: #FFF;
    margin: 70rem 0 24rem;
}

footer .conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .endereco {
    margin-left: 70rem;
}

footer .endereco .filial {
    display: flex;
    align-items: center;
}

footer .endereco .filial:nth-child(1) {
    margin-bottom: 60rem;
}

footer .endereco .filial i {
    color: #FFF;
    font-size: 36rem;
    margin-right: 25rem;
}

footer .endereco .filial h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF
}

footer .endereco .filial p {
    font: 400 20rem/30rem var(--fontePri);
    color: #FFF;
    width: 215rem;
}

footer .horario {
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: space-between;
}

footer .horario .barraVertical {
    width: 5rem;
    height: 300rem;
    background: #FFFFFF40;
}

footer .horario i {
    color: #FFF;
    font-size: 36rem;
    margin-right: 25rem;
}

footer .horario h2, footer .horario p {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
}

footer .horario span {
    font-weight: 400;
}

footer .blocoContatos {
    display: grid;
    place-content: center;
}

footer .blocoContatos .contatos .telefones {
    display: flex;
    align-items: center;
}

footer .blocoContatos .contatos .telefones i {
    color: #FFF;
    font-size: 30rem;
    margin-right: 25rem;
}

footer .blocoContatos .contatos .telefones h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
}

footer .blocoContatos .contatos button {
    font: 500 20rem/30rem var(--fontePri);
    color: #FFF;
    width: 320rem;
    height: 60rem;
    border: 2rem solid #FFF;
    border-radius: 40rem;
    background: transparent;
    margin-top: 15rem;
    cursor: pointer;
}

footer .blocoContatos .contatos button:hover {
    background: #FFF;
    color: #000;
    transform: scale(1.05);
    transition: all 0.2s;
}

footer .midia div {
    display: flex;
    justify-content: space-between;
}

footer .midia div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    color:#FFF;
    border: 1px solid #FFF;
    text-decoration: none;
}

footer .midia div a:hover {
    background: #FFF;
    color: #000;
    transition: all .3s;
}

footer .midia div a i {
    font-size: 30rem;
}

footer .midia h2 {
    font: 700 20rem/30rem var(--fontePri);
    color: #FFF;
    margin: 30rem 0;
}

footer .copyright {
    height: 60rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 500 25rem/30rem var(--fontePri);
    background-color: #FFF;
    color: #000;
    position: absolute;
    bottom: 0
}

footer .copyright i {
    margin-right: 15rem;
}

@media all and (max-width: 1200px) {
    main .container .categoria .rolDeProdutos {
        grid-template-columns: repeat(2, 1fr);
    }

    header {
        position: relative;
    }

    header figure img {
        height: 150rem;
    }

    header ul li a.voltar {
        width: 60rem;
        position: absolute;
        bottom: 50%;
        transform: translate(100rem, 50%);
    }

    header ul li a span {
        display: none;
    }

    header .ulContato li {
        display: none;
    }

    footer .endereco {
        margin: 0;
    }

    footer .endereco .filial:nth-child(1){
        margin-bottom: 30rem;
    }
    
    footer .horario .barraVertical {
        display: none;
    }

    footer .horario {
        margin: 30rem 0;
    }

    footer .conteiner {
        grid-template-columns: 1fr;
        place-items: center;
    }

    footer .midia h2 {
        text-align: center;
    }
}

@media all and (max-width: 750px) {
    main .container .categoria .rolDeProdutos {
        grid-template-columns: 1fr;
    }
}


